body {
    background-color: #fff; /* #f4f0eb; */
    color: #6a2200;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 2rem;
}

h1 {
    color: rgb(128, 0, 79); 
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 0;
    margin-bottom: 2rem;
}

h3 {
    margin-bottom: .5rem;
}

.admin-page {
    color: unset;
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;

    &:visited {
        color: unset;
    }

    &:hover {
        text-decoration: underline;
    }
}

.admin-link {
    color: unset;

    &:hover {
        color: initial;
    }
}

.buttons {
    display: flex;
    gap: 5px;
    margin-top: 3rem;
    align-items: center
}

.button {
    background-color: #ddcdb8;
    border: none;
    color: #554839;
    border-radius: 4px;
    font-weight: bold;;
    padding: .5rem 1rem;
    cursor: pointer;

    &:hover {
        scale: 1.03;
    }

    &:active {
        scale: 0.98;
    }
}

.button-delete {
    background-color: red;
    color: white;
    margin-left: auto;
}

.button-submit {
    background-color: green;
    color: white;
}

.form-label {
    color: #888;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
    text-transform: uppercase;
}

label {
    display: block;
    margin-bottom: .8rem;
}

.page-content {
    color: #555;
    margin-top: 2rem;
}

.page-header {
    display: flex;
    justify-content: flex-end;
}

.page-menu {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.page-logo {
    background-color: yellow;
}

.page-meta {
    color: #00000035;
    font-size: 11px;
    margin-top: 4rem;
    text-align: right;
}