body {
    background-color: #fff; /* #f4f0eb; */
    color: #6a2200;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(128, 0, 79); 
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 0;
    margin-bottom: 2rem;
}

h3 {
    margin-bottom: .5rem;
}

input {
    border: 1px solid #ddd;
    padding: 5px;
}

.admin-banner {
    background: #ffff0085;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1003;

    p {
        margin: 8px 0;
    }
}

.admin-page {
    color: unset;
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;

    &:visited {
        color: unset;
    }

    &:hover {
        text-decoration: underline;
    }
}

.admin-link {
    color: unset;
    text-decoration: none;

    &:hover {
        color: initial;
    }
}

.buttons {
    display: flex;
    gap: 5px;
    margin-top: 3rem;
    align-items: center
}

.button {
    background-color: #ddcdb8;
    border: none;
    color: #554839;
    border-radius: 4px;
    font-weight: bold;;
    padding: .5rem 1rem;
    cursor: pointer;

    &:hover {
        scale: 1.03;
    }

    &:active {
        scale: 0.98;
    }
}

.button-delete {
    background-color: #f9f9f9;
    color: rgb(150, 150, 150);
    margin-left: auto;

    &:hover {
        color: red;
    }
}

.button-submit {
    background-color: green;
    color: white;
}

.form-label {
    color: #888;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
    text-transform: uppercase;
}

label {
    display: block;
    margin-bottom: .8rem;
}

.page-content {
    color: #555;
    margin-top: 2rem;
}

.page-header {
    display: flex;
    justify-content: flex-end;
}

.page-nav {
    background: rgb(255 255 255 / 0.85);
    bottom: 0;
    left: 0;
    list-style-type: none;
    overflow-y: auto;
    margin: 0;
    padding: 50px 0 0 0;
    position: fixed;
    top: 0;
    transition: transform 0.1s ease-out;
    transform: translateX(-200px);
    width: 200px;
    z-index: 1000;

    &.active {
        transform: translateX(0px);
        border-right: 1px solid #eee;
    }
}

.page-nav-hamburger {
    position: fixed;
    display: block;
    top: 10px;
    left: 10px; /* "#menu width" */
    background: rgba(0 0 0 / 0.5);
    font-size: 10px;
    z-index: 1001;
    width: 2.5em;
    height: auto;
    padding: 2.6em 1.6em;
    transform: translateX(0px);
    transition: transform 0.1s ease-out;

    &.active {
        transform: translateX(190px);
    }
}

.page-nav-hamburger:hover,
.page-nav-hamburger:focus {
    background: #000;
}

.page-nav-hamburger span {
    position: relative;
    display: block;
}

.page-nav-hamburger span,
.page-nav-hamburger span:before,
.page-nav-hamburger span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}

.page-nav-hamburger span:before,
.page-nav-hamburger span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.page-nav-hamburger span:after {
    margin-top: 0.6em;
}

.page-nav-list-item {
    text-transform: uppercase;

    a {
        color: #666;
        display: block;
        padding: 5px 10px 5px 20px;
        text-decoration: none;

        &.active {
            color: #000;
            font-weight: bold;
        }

        &:hover {
            color: #000;
        }
    }
}

.page-nav-blocker {
    display: none;
    
    &.active {
        display: block;
        position: fixed;
        inset: 0;
        background: rgb(255 255 255 / 0.5);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        z-index: 999;
    }
}

/* .page-logo {
    background-color: yellow;
} */

.page-meta {
    position: fixed;
    color: #00000035;
    font-size: 11px;
    text-align: right;
    bottom: 5px;
    right: 10px;
}

@media (min-width: 701px) {
    .page-nav-hamburger {
        display: none;;
    }

    .page-nav {
        transform: translateX(0px);
    }

    .page {
        margin-left: 220px;
    }

    .page-nav-blocker {
        display: none;
    }
}

